@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-background);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
    transition: 0.3s;
  }
  
  ::-webkit-scrollbar-track {
    background-color: var(--scrolltrack-background);
    transition: 0.3s;
  }
  
  ::-webkit-scrollbar {
    width: 20px;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .border-draw {
    animation: border-draw-reverse 1.5s cubic-bezier(0.19, 1, 0.22, 1); 
    background-image: linear-gradient(to right, #ff00ff 100%, #ff00ff 100%), linear-gradient(to bottom, #ff00ff 100%, #ff00ff 100%),   linear-gradient(to right, #00ffff 100%, #00ffff 100%), linear-gradient(to bottom, #00ffff 100%, #00ffff 100%);
    background-position: 0 0, 100% 0,  100% 100%, 0 100%;
    background-size: 100% 6px, 6px 100%, 100% 6px, 6px 100%;
    background-repeat: no-repeat; 
    animation-fill-mode: forwards
  }

  .visible .border-draw {
    animation: border-draw 1.5s cubic-bezier(0.19, 1, 0.22, 1) 1; 
    background-image: linear-gradient(to right, #ff00ff 100%, #ff00ff 100%), linear-gradient(to bottom, #ff00ff 100%, #ff00ff 100%),   linear-gradient(to right, #00ffff 100%, #00ffff 100%), linear-gradient(to bottom, #00ffff 100%, #00ffff 100%);
    background-position: 0 0, 100% 0,  100% 100%, 0 100%;
    background-size: 100% 6px, 6px 100%, 100% 6px, 6px 100%;
    background-repeat: no-repeat;
  }

  @keyframes border-draw {
    0% {
        background-size:    0 6px, 6px 0, 0 6px, 6px 0;
    }
    25% {
        background-size:    100% 6px, 6px 0, 0 6px, 6px 0;
    }
    50% {
        background-size:    100% 6px, 6px 100%, 0 6px, 6px 0;
    }
    75% {
        background-size:    100% 6px, 6px 100%, 100% 6px, 6px 0;
    }
    100% {
        background-size:    100% 6px, 6px 100%, 100% 6px, 6px 100%;
    }
}

@keyframes border-draw-reverse {
  0% {
    background-size:    100% 6px, 6px 100%, 100% 6px, 6px 100%;
  }
  25% {
    background-size:    100% 6px, 6px 100%, 100% 6px, 6px 0;
  }
  50% {
    background-size:    100% 6px, 6px 100%, 0 6px, 6px 0;
  }
  75% {
    background-size:    100% 6px, 6px 0, 0 6px, 6px 0;
  }
  100% {
    background-size:    0 6px, 6px 0, 0 6px, 6px 0;
  }
}
  

@media only screen and (max-width: 976px) {
.foam {
    background-size: 164vh 250vw;
}
}